<div class="ask">
  <h1 class="app-title">Stupid Coaching</h1>

  <div class="user-input">
    <form action="/answer">
      <input type="text" name="question" placeholder="Say something to your coach !">
      <input type="submit" value="Ask!">
    </form>
  </div>

  <%= link_to "Ask a new question", question_path %>
</div>
